* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  background-color: #faf9f5;
  color: #3d3929;
}

.app {
  min-height: 100vh;
}

.app-layout {
  display: flex;
  min-height: calc(100vh - 4rem);
}
@media (max-width: 768px) {
  .app-layout {
    flex-direction: column;
  }
}